<!DOCTYPE html>
<html>
  <head>
    <title>Student App</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container d-flex align-items-center gap-2">

        <a class="navbar-brand" href="/">StudentApp</a>

        {% if user.is_authenticated %}
          <a class="btn btn-outline-light" href="/add">+ Add Student</a>
        {% endif %}

        {% if user.is_authenticated and user.role_profile.role == "admin" %}
          <a class="btn btn-outline-light" href="/add_school">+ Add School</a>
        {% endif %}

        <a class="btn btn-outline-light" href="/register">+ Register</a>
        <a class="btn btn-outline-light" href="/students">Student List</a>
        <a class="btn btn-outline-light" href="/user">User List</a>
        <!-- <a class="btn btn-outline-light" href="/school">School List</a> -->

        <div class="ms-auto d-flex align-items-center gap-2">

          {% if user.is_authenticated %}
              <div class="text-danger fw-bold text-center"
                  style="width: 100px; height:35px; line-height:35px;">
                  {{ user.username|upper }}
              </div>

              {% if user.role_profile %}
              <div class="rounded-circle bg-primary text-white fw-bold text-center"
                  style="width:35px; height:35px; line-height:35px;">
                  {{ user.role_profile.role|upper|first }}
              </div>
              {% endif %}
          {% endif %}

          {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-sm ms-2">Logout</button>
            </form>
          {% else %}
            <a href="/login" class="btn btn-danger btn-sm ms-2">Login</a>
          {% endif %}
        </div>
      </div>
    </nav>

    <div class="container mt-4">
      {% block content %}{% endblock %}
    </div>

  </body>
</html>
