{% extends 'base.html' %} {% block content %}

<h2 class="text-center mb-4">User List</h2>
<h2 class="text-center mb-4">Here you can  Delete User data </data></h2>
<table class="table table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>User Id</th>
      <th>User Name</th>
      <th>User Email</th>
      <th>User role</th>
      <th>User School</th>
      <th>Status</th>
<th>Delete</th>


    </tr>
  </thead>

  <tbody>
  {% for u in users %}
  
<tr>
    <td>{{ u.id }}</td> 
    <td>{{ u.username }}</td>
    <td>{{ u.email }}</td> 
    <td>
        
        {{ u.role_profile.role|default:"No Role" }}
    
    </td>
    <td>{{u.role_profile.school.sch_name|default:"can't find"}}</td>
    <td>
        {% if u.is_active %}
            <span class="badge bg-success">Active</span>
        {% else %}
            <span class="badge bg-danger">Inactive</span>
        {% endif %}
    </td>
   {% if request.user.role_profile.role == "admin" %}
    <td><a class="btn btn-danger btn-sm" href="{% url 'delete_user' u.id %}">Delete</a></td>

{% elif request.user.role_profile.role == "principal" %}
    {% if u.role_profile.role == "teacher" or not u.role_profile %}
        <td><a class="btn btn-danger btn-sm" href="{% url 'delete_user' u.id %}">Delete</a></td>
    {% else %}
        <td>No Permission</td>
    {% endif %}

{% elif request.user.role_profile.role == "teacher" %}
    {% if not u.role_profile %}  {# student #}
        <td><a class="btn btn-danger btn-sm" href="{% url 'delete_user' u.id %}">Delete</a></td>
    {% else %}
        <td>No Permission</td>
    {% endif %}

{% else %}
    <td>No Permission</td>
{% endif %}

</tr>
{% endfor %}  
  </tbody>
</table>

{% if users|length == 0 %}
<p class="text-center text-danger">No User Found.</p>
{% endif %} {% endblock %}
